---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/iama/about/rules.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=fzRlXqtkAiR2N9bAKkqczW4eaf5tAmohXe9wbji7i3hbrtydHTHZzkbJcJ1aXJd%2FQri%2BDsF8%2FZo%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"rules": [{"kind": "link", "description": "The point of proof is to
        connect who you are with the username you are using to host the AMA. All proof
        must tend to show that the person behind the username is the person they claim
        to be.\n", "short_name": "All posts must contain proof", "created_utc": 1454017092.0,
        "priority": 0, "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;The
        point of proof is to connect who you are with the username you are using to
        host the AMA. All proof must tend to show that the person behind the username
        is the person they claim to be.&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;"},
        {"kind": "link", "description": "AMAs must be about: Something uncommon that
        plays a central role in your life, or a truly interesting and unique event.",
        "sho[...]
