---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/IAMA/about.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=ZEIlGIO03ZVpXRuD0WhcE1BkPC4SPSGOKg18pFkHriztloivIB8DspaUiEcS6VlC3Oxxj%2BEmRx0%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "t5", "data": {"banner_img": "http://a.thumbs.redditmedia.com/Je9hJkwwkO_gZblEkMwBK3_MG_laF1_uG5nGd-NEXt4.png",
        "submit_text_html": null, "user_is_banned": null, "wiki_enabled": true, "show_media":
        true, "id": "2qzb6", "user_is_contributor": null, "submit_text": "", "display_name":
        "IAmA", "header_img": "http://d.thumbs.redditmedia.com/3hldoKUAjllXPW8i.png",
        "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;h5&gt;&lt;a
        href=\"https://goo.gl/GjN173\"&gt;Submit an AMA&lt;/a&gt;&lt;/h5&gt;\n\n&lt;h5&gt;&lt;a
        href=\"https://goo.gl/NHwneF\"&gt;Request an AMA&lt;/a&gt;&lt;/h5&gt;\n\n&lt;h5&gt;&lt;a
        href=\"http://nr.reddit.com/r/iama\"&gt;Hide AMA Requests&lt;/a&gt;&lt;/h5&gt;\n\n&lt;h1&gt;Please
        check out our &lt;a href=\"http://goo.gl/KC0FO\"&gt;Rules and FAQs&lt;/a&gt;&lt;/h1&gt;\n\n&lt;p&gt;&lt;a
        href=\"https://[...]
