---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/subreddits/mine/subscriber?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer eI7TJu_yMoh66NP7SmZJC6yKctc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '596.0'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Reset:
      - '98'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=WPmPhS70PEFDYnJovoh1nfwN%2B4zvcuedDUrOjAzCww0tGqUHbMbJMp3WAReKKrjUWfm3SAAwaZg16Nn9tZ5J0oNnVisaisIP
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": null, "children": [{"kind":
        "t5", "data": {"banner_img": "", "submit_text_html": "&lt;!-- SC_OFF --&gt;&lt;div
        class=\"md\"&gt;&lt;p&gt;Please familiarize yourself with the &lt;a href=\"/r/gadgets\"&gt;/r/gadgets&lt;/a&gt;
        rules &lt;strong&gt;before submitting&lt;/strong&gt;, you can find the rules
        &lt;a href=\"https://www.reddit.com/r/gadgets/wiki/rules\"&gt;on this page&lt;/a&gt;
        and in the sidebar..&lt;/p&gt;\n\n&lt;p&gt;We use the reddit FAQ guidelines
        for spam when removing spam posts. Additionally, as a spam-prevention measure,
        users with accounts that have less than 5 combined karma and/or are less than
        14 days old, may be subject to having their posts removed.&lt;/p&gt;\n\n&lt;p&gt;Please
        ask questions and advice in the &lt;a href=\"http://www.reddit.com/r/gadgets/about/sticky?num-1\"&gt;Questions
        and Advice SuperThread&lt;/a&gt;, rather than as a separate submission.&lt;/p&gt;\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;", "user_is_banned": false, "wiki_enabled": true, "show_media":
        true, "id": "2qgzt", "user_is_contributor": false, "submit_text": "Please
        familiarize yourself with the /r/gadgets rules **before submitting**, you
        can find the rules [on this page](https://www.reddit.com/r/gadgets/wiki/rules)
        and in the sidebar..\n\nWe use the reddit FAQ guidelines for spam when removing
        spam posts. Additionally, as a spam-prevention measure, users with accounts
        that have less than 5 combined karma and/or are less than 14 days old, may
        be subject to having their posts removed.\n\nPlease ask questions and advice
        in the [Questions and Advice SuperThread](http://www.reddit.com/r/gadgets/about/sticky?num-1),
        rather than as a separate submission.", "display_name": "gadgets", "header_img":
        "http://b.thumbs.redditmedia.com/1Zt9fQJyK-7-lP2R2E7p0e7_axZ8Rlhh3lxMKO_3QIg.png",
        "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;&lt;em&gt;&lt;a
        href=\"https://app.orangechat.io/r/gadgets\"&gt;Chat with us!&lt;/a&gt;&lt;/em&gt;&lt;/p&gt;\n\n&lt;p&gt;&lt;a
        href=\"http://goo.gl/vlYYhs\"&gt;&lt;/a&gt;\n&lt;a href=\"http://goo.gl/utayY5\"&gt;&lt;/a&gt;&lt;/p&gt;\n\n&lt;blockquote&gt;\n&lt;p&gt;&lt;strong&gt;gadget&lt;/strong&gt;
        &lt;em&gt;(noun)&lt;/em&gt; - a small mechanical / electrical device or tool,
        especially an ingenious or novel o[...]
