---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/climbing.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=rx%2BrSYTfjiECSIHKaJLcLu9gl9wCw%2BM9f4hchrkalulDXr50ESCNUXj57%2BHAdR0rnF0D65sKVUg%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"contest_mode": false, "banned_by": null, "domain": "self.climbing",
        "subreddit": "climbing", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Please
        sort comments by &amp;#39;new&amp;#39; to find questions that would otherwise
        be buried.&lt;/p&gt;\n\n&lt;p&gt;In this thread you can ask any climbing related
        question that you may have. Dont be discouraged to ask here on the weekend
        just because it&amp;#39;s called &amp;quot;friday&amp;quot; new climber thread.
        This thread usually sees traffic until at least monday, there&amp;#39;s a
        good chance your question will be answered.&lt;/p&gt;\n\n&lt;p&gt;Two examples
        of potential questions could be; &amp;quot;How do I get stronger?&amp;quot;,
        or &amp;quot;How to select my first harness?&amp;quot;&lt;/p&gt;\n\n&lt;p&gt;If
        you see a new climber related question posted in another subeddit or in this
        subreddit, then please politely link them to this thread.&lt;/p&gt;\n\n&lt;p&gt;Ask
        away!&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;", "selftext": "Please sort
        comments by ''new'' to find questions that would otherwise be buried.\n\nIn
        this thread you can ask any climbing related question that you may have. Dont
        be discouraged to ask here on the weekend just because it''s called \"friday\"
        new climber thread. This thread usually sees traffic until at least monday,
        there''s a good chance your question will be answered.\n\nTwo examples of
        potential questions could be; \"How do I get stronger?\", or \"How to select
        my first harness?\"\n\nIf you see a new climber related question posted in
        another subeddit or in this subreddit, then please politely link them to this
        thread.\n\nAsk away!\n", "likes": null, "suggested_sort": "new", "user_reports":
        [], "secure_media": null, "saved": false, "id": "5g39hm", "gilded": 0, "secure_media_embed":
        {}, "clicked": false, "report_reasons": null, "author": "AutoModerator", "media":
        null, "name": "t3_5g39hm", "score": 10, "approved_by": null, "over_18": false,
        "removal_reason": null, "hidden": false, "thumbnail": "self", "subreddit_id":
        "t5_2qk72", "edited": false, "link_flair_css_class": null, "author_flair_css_class":
        "jp", "downs": 0, "mod_reports": [], "archived": false, "media_embed": {},
        "is_self": true, "hide_score": false, "spoiler": false, "permalink": "/r/climbing/comments/5g39hm/friday_new_climber_thread_for_december_02_2016/",
        "locked": false, "stickied": true, "created": 1480714388.0, "url": "https://www.reddit.com/r/climbing/comments/5g39hm/friday_new_climber_thread_for_december_02_2016/",
        "author_flair_text": null, "quarantine": false, "title": "Friday New Climber
        Thread for December 02, 2016: Ask your questions in this thread please", "created_utc":
        1480685588.0, "link_flair_text": "All Questions Allowed", "distinguished":
        "moderator", "num_comments": 228, "visited": false, "num_reports": null, "ups":
        10}}, {"kind": "t3", "data": {"contest_mode": false, "banned_by": null, "domain":
        "i.reddituploads.com", "subreddit": "climbing", "selftext_html": null, "selftext":
        "", "likes": null, "suggested_sort": null, "user_reports": [], "secure_media":
        null, "saved": false, "id": "5h32y3", "gilded": 0, "secure_media_embed": {},
        "clicked": false, "report_reasons": null, "author": "anothercoolusername",
        "media": null, "name": "t3_5h32y3", "score": 525, "approved_by": null, "over_18":
        false, "removal_reason": null, "hidden": false, "preview": {"images": [{"source":
        {"url": "https://i.redditmedia.com/Dka5Xl1E4u2wX7JA6RmJxZi_0cX3CtHF04pAMd-rkiU.jpg?s=265c870af05f9b34759addeb4a73ad02",
        "width": 1152, "height": 1536}, "resolutions": [{"url": "https://i.redditmedia.com/Dka5Xl1E4u2wX7JA6RmJxZi_0cX3CtHF04pAMd-rkiU.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=108&amp;s=4797016c1cad7805ad500e36a83add9f",
        "width": 108, "height": 144}, {"url": "https://i.redditmedia.com/Dka5Xl1E4u2wX7JA6RmJxZi_0cX3CtHF04pAMd-rkiU.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=216&amp;s=fd17c43b73f67c4b1b7e9713d74b69e2",
        "width": 216, "height": 288}, {"url": "https://i.redditmedia.com/Dka5Xl1E4u2wX7JA6RmJxZi_0cX3CtHF04pAMd-rkiU.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=320&amp;s=e78b4751504c3d9d49cae67f10f60031",
        "width": 320, "height": 426}, {"url": "https://i.redditmedia.com/Dka5Xl1E4u2wX7JA6RmJxZi_0cX3CtHF04pAMd-rkiU.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=640&amp;s=fbb18409bd20ada3d43d992cb62195fb",
        "width": 640, "height": 853}, {"url": "https://i.redditmedia.com/Dka5Xl1E4u2wX7JA6RmJxZi_0cX3CtHF04pAMd-rkiU.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=960&amp;s=e9f631105d817c1e171bcce1158f384d",
        "width": 960, "height": 1280}, {"url": "https://i.redditmedia.com/Dka5Xl1E4u2wX7JA6RmJxZi_0cX3CtHF04pAMd-rkiU.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=1080&amp;s=7f023be7d9bac82f46989d5f7744c327",
        "width": 1080, "height": 1440}], "variants": {}, "id": "gIuf0W2posAtHoSe_Ft8rFqqy2QKPMGKA3kFmzbgfRs"}]},
        "thumbnail": "http://b.thumbs.redditmedia.com/FWPW0AHtDOZft4T8ljYdW4vWpuVtCSrmE1f06hbzlNg.jpg",
        "subreddit_id": "t5_2qk72", "edited": false, "link_flair_css_class": null,
        "author_flair_css_class": null, "downs": 0, "mod_reports": [], "archived":
        false, "media_embed": {}, "post_hint": "link", "is_self": false, "hide_score":
        false, "spoiler": false, "permalink": "/r/climbing/comments/5h32y3/psa_please_dont_wear_your_climbing_shoes_in_the/",
        "locked": false, "stickied": false, "created": 1481178964.0, "url": "https://i.reddituploads.com/5324408bd8ee4c9fb6b6dc78c0665e54?fit=max&amp;h=1536&amp;w=1536&amp;s=fb723385ea77578a78c525e607041bda",
        "author_flair_text": null, "quarantine": false, "title": "PSA: Please don''t
        wear your climbing shoes in the[...]
