---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/api/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer eI7TJu_yMoh66NP7SmZJC6yKctc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '597.0'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Reset:
      - '98'
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"is_employee": false, "name": "jstans12_dev", "created": 1481004448.0,
        "hide_from_robots": false, "is_suspended": false, "created_utc": 1480975648.0,
        "link_karma": 1, "in_beta": false, "comment_karma": 0, "features": {"youtube_scraper":
        true, "show_new_icons": true, "live_happening_now": true, "adserver_reporting":
        true, "ads_auto_refund": true, "mweb_xpromo_interstitial_listing_android":
        {"variant": "control_2", "experiment_id": 100}, "mobile_web_targeting": true,
        "ads_auction": true, "adzerk_do_not_track": true, "sticky_comments": true,
        "upgrade_cookies": true, "ads_prefs": true, "mweb_xpromo_interstitial_listing_ios":
        {"variant": "control_1", "experiment_id": 101}, "legacy_search_pref": true,
        "orangereds_as_emails": true, "mweb_xpromo_interstitial_fp_ios": {"variant":
        "control_2", "experiment_id": 99}, "imgur_gif_conversion": true, "expando_events":
        true, "eu_cookie_policy": true, "programmatic_ads": true, "force_https": true,
        "mobile_native_banner": true, "do_not_track": true, "outbound_clicktracking":
        true, "image_uploads": true, "new_loggedin_cache_policy": true, "https_redirect":
        true, "screenview_events": true, "pause_ads": true, "give_hsts_grants": true,
        "new_report_dialog": true, "moat_tracking": true, "subreddit_rules": true,
        "timeouts": true, "mobile_settings": true, "adzerk_reporting_2": true, "activity_service_write":
        true, "ads_auto_extend": true, "interest_targeting": true, "post_embed": true,
        "scroll_events": true, "mweb_xpromo_interstitial_fp_android": {"variant":
        "control_2", "experiment_id": 98}, "adblock_test": true, "activity_service_read":
        true}, "over_18": false, "is_gold": false, "is_mod": false, "id": "13ccy1",
        "gold_expiration": null, "inbox_count": 0, "has_verified_email": false, "gold_creddits":
        0, "suspension_expiration_utc": null}'
  recorded_at: Thu, 08 Dec 2016 01:38:22 GMT
recorded_with: VCR 3.0.3
