<div class="col-md-12">
  <h2 style="text-align: center;"> <%= @subreddit.data[:url] %></h2>
</div>

<div class="col-md-8">
  <% @posts.each do |post| %>
    <%= link_to "(#{post.ups}) #{post.title}", post.url %>
    <br>
  <% end %>
</div>

<div class="col-md-4">
  <h3 style="margin-top: 0px;"> Subreddit Rules </h3>
    <% @rules.each do |rule| %>
      <%= rule.short_name %>
      <br>
    <% end %>
</div>
